* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a1d6f7;
    color: #f9fcff;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
/* header start */
header {
    background: #2c92d2;
    color: #f9fcff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2.5px solid #065986;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}
header h1 {
    margin-left: 20px;
    font-size: 34px;
    color: #f9fcff;
}
nav {
    margin: 0 30px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 55px;
    justify-content: center;
}
@media (max-width: 768px) {
    nav ul {
        gap: 20px;
    }
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #f9fcff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #d1e6f5;
}
/* header end */

/* random game start */
.randomGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #a1d6f7;
}
.randomGame .backGround {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #2c92d279, #06598679),
        url("../images/randomGames.avif");
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
    z-index: 0;
    will-change: transform;
}
.randomGame:has(.randomGameBtn:hover) .backGround {
    transform: scale(1.1) rotate(3deg);
}
.randomGameBtn {
    background-color: #2c92d2;
    color: #f9fcff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    z-index: 1;
}
.randomGameBtn:hover {
    background-color: #1f6f9b;
}
/* random game end */

/* games list start */
.gamesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    background-color: #a1d6f7;
    min-height: 90vh;
}
.gamesList h2 {
    font-size: 36px;
    margin-top: 5px;
    text-align: center;
    color: #022446;
    text-transform: uppercase;
}
.gamesList ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
    padding: 20px;
    list-style: none;
    gap: 25px;
}
.gamesList ul li {
    text-align: center;
    background-color: #f9fcff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 225px;
    transition: transform 0.3s ease;
}
.gamesList ul li:hover {
    transform: scale(1.05);
}
.gamesList ul li a {
    text-decoration: none;
    color: #2c92d2;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.gamesList ul li .xo {
    text-transform: uppercase;
}
.gamesList ul li a:hover {
    color: #065986;
}
.gamesList ul li a img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
/* game list end */

/* footer start */
footer {
    background-color: #2c92d2;
    color: #f9fcff;
    text-align: center;
    padding: 30px 0;
    position: relative;
}
footer p {
    margin: 0;
    font-size: 16px;
}
/* footer end */
